{% extends 'AppBundle::adminlayout.html.twig' %}

{% block stylesheets %}
{% endblock %}

{% block javascripts %}
{% endblock %}


{% block body %}
<!-- content wrapper -->
<div class="content-wrap">
  <div class="row">
    
      
    
  </div>
</div>

{% endblock %}
