<footer id="footer" class="clear">
    <div class="copyright">
        <p>{% trans %}footer_address{% endtrans %} | {% trans %}footer_phone{% endtrans %} | <a href="mailto:{% trans %}footer_email{% endtrans %}">{% trans %}footer_email{% endtrans %}</a>
            <br/> 
            <a href="http://www.lauranozar.com" target="blank" class="firma">Laura Nozar Estudio de Diseño</a>
        </p>
    </div>
</footer>