{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <section class="container">
        <div class="wrapper">
            <div class="singlePostWrap">
                <h1>{% trans %}nosotro_titulo{% endtrans %}</h1>
                <p>{% trans %}nosotro_historia{% endtrans %}</p>
                <img class="size-full" src="{{ asset('images/content/empresa.jpg')}}" alt="">
                <h3>{% trans %}nosotro_trayectoria_titulo{% endtrans %}</h3>
                {% trans %}nosotro_trayectoria_listado{% endtrans %}
                <h3>{% trans %}nosotro_viviendas_titulo{% endtrans %}</h3>
                {% trans %}nosotro_viviendas_listado{% endtrans %}
            </div>

        </div>

    </section>
{% endblock %}