{% extends 'AppBundle::base.html.twig' %}
{% block body %}

    <section class="container">
        <div class="ourStory">
            <div class="wrapper">
                El producto que estas buscando no existe mira todos nuestros productos.
                
            </div>
        </div>
    </section>    

{% endblock %}
